<nav class="navbar navbar-expand-lg navbar-light bg-light p-2 shadow-sm fixed-top">
  <a class="navbar-brand " routerLink="" style="color: #252525;">
    <img src="assets/images/B.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    movies
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink=""></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link common-tag" (click)="goToLogin()"><b style="color: #252525;">Logout</b></a>
      </li>
    </ul>
  </div>
</nav>