<app-header></app-header>
<div class="container p-4 mt-5 py-5 pb-5 px-5">
    <div class="row">
        <div class="col-md-7 " style="border-right: 1px solid gainsboro;">
            <div class="row">
                <div class="col-md-6 px-4">
                    <h3 class="card-title"><b>{{movie?.name}}</b></h3>
                    <!-- rating -->
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                        </span>
                    </ng-template>
                    <app-star-rating [rating]="movie?.rating" [isReadOnly]="true"></app-star-rating>
                </div>
                <div class="col-md-6">
                    <p class="card-text detail-rating">{{movie?.rating}}</p>
                </div>
            </div>
            <img class="card-img-top" [src]="movie?.cover" alt="Card image cap img-fluid img-thumbnail p-4"
                style="max-height: 600px; max-width: 550px;">
        </div>
        <div class="col-md-5 pr-4" style="padding-left: 70px;">
            <div class="mt-5 pt-5">
                <small class="pt-4">Rate this movie</small>
                <br>
                <br>
                <form action="" class="form-group">
                    <div class="form-group">
                        <label for="username">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="username">Rating</label>
                        <br>
                        <!-- rating -->
                        <!-- <app-star-rating [rating]="0" [isReadOnly]="true" style="cursor: pointer;"></app-star-rating> -->
                        <app-star-rating [rating]="0" [isReadOnly]="false"> </app-star-rating>
                    </div>
                    <div class="form-group">
                        <label for="username">Name</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <br>
                    <button class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row" *ngFor="let review of movie.reviews" >
        <h2>Reviews</h2>
        <div style="background: #F5F5F5;" class="p-2">
            <h5 class="pt-4">{{review?.author}}</h5>
            <!-- rating -->
            <app-star-rating [rating]="review.rating" [isReadOnly]="true"></app-star-rating>
        </div>
    </div>
    <div class="row" *ngIf="movie.reviews.length==0">
        <small class="text-lead">No reviews to show</small>
    </div>
</div>